Numpy arrays are great alternatives to Python
Lists. Some of the key advantages of Numpy arrays are that they are fast, easy to work with, and give users the opportunity to perform calculations across entire arrays.

In [ ]:
# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Import the numpy package as np
import numpy as np

# Create 2 numpy arrays from height and weight
np_height = np.array(height)
print(np_height)
np_weight = np.array(weight)
print(np_weight)

[1.87 1.87 1.82 1.91 1.9  1.85]
[81.65 97.52 95.25 92.98 86.18 88.45]

In [ ]:
print(type(np_height))

<class 'numpy.ndarray'>

![How-to-Calculate-BMI-in-Excel13.png]()

In [ ]:
# Calculate bmi
bmi = np_weight / np_height ** 2

# Print the result
print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

## Subsetting
Another great feature of Numpy arrays is the ability to subset. For instance, if you wanted to know which observations in our BMI array are above 24, we could quickly subset it to find out.

In [ ]:
# For a boolean response
bmi > 24

# Print only those observations above 24
bmi[bmi > 24]

array([27.88755755, 28.75558507, 25.48723993, 25.84368152])

First, convert the list of weights from a list to a Numpy array. Then, convert all of the weights from kilograms to pounds. Use the scalar conversion of 2.2 lbs per kilogram to make your conversion. Lastly, print the resulting array of weights in pounds.

In [ ]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np

# Create a numpy array np_weight_kg from weight_kg
np_weight_kg = np.array(weight_kg)

# Create np_weight_lbs from np_weight_kg
np_weight_lbs = np_weight_kg * 2.2

# Print out np_weight_lbs
print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]



---



---



---



---

# **Pandas Basics**
## *Pandas DataFrames*
Pandas is a high-level data manipulation tool developed by Wes McKinney. It is built on the Numpy package and its key data structure is called the DataFrame. DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.

In [ ]:
dict = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98]
        }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

As you can see with the new brics DataFrame, Pandas has assigned a key for each country as the numerical values 0 through 4. If you would like to have different index values, say, the two letter country code, you can do that easily as well.

In [ ]:
# Set the index for brics
brics.index = ["BR", "RU", "IN", "CH", "SA"]

# Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [ ]:
# Import pandas as pd
import pandas as pd

# Import the dataset1_lab02.csv
sample = pd.read_csv('/content/drive/MyDrive/dataset1_lab02.csv',header=None)

# Print out sample
print(sample)

     0
0   40
1   40
2   50
3   50
4   63
5   63
6   70
7   77
8   83
9   83
10  83
11  83
12  83
13  87
14  87
15  87
16  93
17  93
18  93

In [ ]:
sample

     0
0   40
1   40
2   50
3   50
4   63
5   63
6   70
7   77
8   83
9   83
10  83
11  83
12  83
13  87
14  87
15  87
16  93
17  93
18  93

In [ ]:
# Import pandas as pd
import pandas as pd

# Import the dataset1_lab02.csv
sample = pd.read_csv('/content/drive/MyDrive/dataset1_lab02.csv',header=None)

# Print out sample
print(sample[0:4])
print(sample[10:17])

    0
0  40
1  40
2  50
3  50
     0
10  83
11  83
12  83
13  87
14  87
15  87
16  93