### **Problem 1**

In [1]:
def product_sum(n1,n2):
  if (n1*n2)>1000:
    return n1+n2
  else:
    return n1*n2

n1=int(input("Enter First Number : "))
n2=int(input("Enter Second Number : "))
d=product_sum(n1,n2)
print(d)

Enter First Number : 15
Enter Second Number : 10354
10369

### **Problem 2**

In [2]:
num=int(input("Enter your number : "))
area=3.1416*pow(num,2)
perimeter=2*3.1416*num
print("Area is %f"%area)
print("Perimeter is %f"%perimeter)

Enter your number : 12
Area is 452.390400
Perimeter is 75.398400

### **Problem 3**

In [3]:
P=float(input("principle amount : "))
R=float(input("Interest Rate : "))
T=float(input("Time : "))
A=P*pow((1+R/100),T)
print(A)

principle amount : 45000
Interest Rate : 4.5
Time : 5
56078.18719439061

### **Problem 4**

In [4]:
num=int(input("Enter your number : "))
sum=0
#range is zero based index
for i in range(1,num+1,1):
  sum+=i**2
print(sum)

Enter your number : 35
14910

### **Problem 5**

In [5]:
def prime_find_2020160215(num):
  sum=0
  for i in range(1,num+1,1):
    if(num%i==0):
      sum+=1
  if(sum==2):
   print("Prime")
  elif(sum>2):
   print("Not Prime")
num=int(input("Enter your number : "))
prime_find_2020160215(num)

Enter your number : 459
Not Prime

### **Problem 6**

In [6]:
num = int(input("Enter your num: "))
f0=0
f1=1
for i in range(2,num+1,1):
 res=f0+f1
 f0=f1
 f1=res
print(res)

Enter your num: 45
1134903170

### **Problem 7**

In [7]:
List=[2,3,5,7,8,10]
sum=0
for i in List:
  sum+=i
print(sum)

35

### **Problem 8**

In [8]:
List=[2,3,5,7,8,10]
sum_of_even=0
#range is zero based index
for i in range(len(List)):
  if(i%2==0):
   sum_of_even+=List[i]
print(sum_of_even)

15

### **Problem 9**

In [10]:
List=[]
def largest_number_2020160215():
  max=List[0]
  for i in range(1,len(List)):
    if(max<List[i]):
      max=List[i]
  print("Max is %d"%max)
def smallest_number_2020160215():
  min=List[0]
  for i in range(1,len(List)):
    if(min>List[i]):
      min=List[i]
  print("Min is %d"%min)
num = int(input("Input the list Size: "))
for i in range(0,num):
  print("Enter %d index value"%i)
  item=int(input())
  List.append(item)
largest_number_2020160215()
smallest_number_2020160215()

Input the list Size: 5
Enter 0 index value
25
Enter 1 index value
45
Enter 2 index value
12
Enter 3 index value
56
Enter 4 index value
44
Max is 56
Min is 12

### **Problem 10**

In [11]:
max=List[0]
for i in range(1,len(List)):
  if(max<List[i]):
    max=List[i]
second_max=List[0]
for i in range(1,len(List)):
  if(second_max<List[i] and second_max !=max and List[i] !=max):
    second_max=List[i]
print(second_max)

45

### **Problem 11**

In [12]:
my_string=input("Enter a String : ")
evenchar=[]
for i in range(len(my_string)):
  if i%2==0:
    evenchar.append(my_string[i])
print(evenchar)

Enter a String : Rifat
['R', 'f', 't']

### **Problem 12**

In [13]:
my_string=input("Enter a String : ")
num = int(input("Enter your number : "))
new_string=" "
for i in range(num,len(my_string)):
  new_string+=my_string[i]
print(new_string)

Enter a String : Rifat loves his family
Enter your number : 12
 his family

### **Problem 13**

In [14]:
my_string=input("Enter a String : ")
count=0
for i in range(len(my_string)):
  if my_string[i]=='C'and my_string[i+1]=='S'and my_string[i+2]=='E'and my_string[i+3]=='3'and my_string[i+4]=='0' and my_string[i+5]=='3':
    count+=1
    i+=6
print(count)

Enter a String : Hello World
0

### **Problem 14**

In [15]:
def palindrome_checker_2020160215(my_string):
  pl_s=my_string[::-1]
  if(pl_s==my_string):
    print("Palindrome")
  else:
    print("Not Palindrome")
my_string=input("Enter a String : ")
palindrome_checker_2020160215(my_string)

Enter a String : MOM
Palindrome

### **Problem 15**

In [16]:
L1=[2,4,7,9,5,6,35,48]
L2=[24,21,87,65,31,1,74,48]
new_list=[]
for i in L1:
  if(i%2!=0):
    new_list.append(i)
for i in L2:
  if(i%2==0):
    new_list.append(i)
print(new_list)

[7, 9, 5, 35, 24, 74, 48]