In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/iris-data.csv")

In [ ]:
df

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df=df.loc[df['class'] != 'Iris-virginica']

In [ ]:
df

    sepal length  sepal width  petal length  petal width            class
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

[100 rows x 5 columns]

In [ ]:
df['class']=df['class'].replace(['Iris-setosa'],0)
df['class']=df['class'].replace(['Iris-versicolor'],1)
df

<ipython-input-6-faa3ad054a23>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class']=df['class'].replace(['Iris-setosa'],0)
<ipython-input-6-faa3ad054a23>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class']=df['class'].replace(['Iris-versicolor'],1)

    sepal length  sepal width  petal length  petal width  class
0            5.1          3.5           1.4          0.2      0
1            4.9          3.0           1.4          0.2      0
2            4.7          3.2           1.3          0.2      0
3            4.6          3.1           1.5          0.2      0
4            5.0          3.6           1.4          0.2      0
..           ...          ...           ...          ...    ...
95           5.7          3.0           4.2          1.2      1
96           5.7          2.9           4.2          1.3      1
97           6.2          2.9           4.3          1.3      1
98           5.1          2.5           3.0          1.1      1
99           5.7          2.8           4.1          1.3      1

[100 rows x 5 columns]

In [ ]:
x=df.drop('class',axis=1)
y=df['class']

In [ ]:
from sklearn.model_selection import train_test_split
train_X ,test_X , train_y ,test_y = train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
train_X.shape

(80, 4)

In [ ]:
train_y.shape

(80,)

In [ ]:
train_X = train_X.values
train_y = train_y.values
test_X=test_X.values
test_y=test_y.values

In [ ]:
train_X = train_X.T
train_y = train_y.reshape(1, train_X.shape[1])

test_X = test_X.T
test_y = test_y.reshape(1, test_X.shape[1])

In [ ]:
def sigmoid(x):
    return 1/(1 + np.exp(-x))
def model(X, Y, learning_rate, iterations):

    m = train_X.shape[1]
    n = train_X.shape[0]

    W = np.zeros((n,1))
    B = 0

    cost_list = []

    for i in range(iterations):

        Z = np.dot(W.T, X) + B
        A = sigmoid(Z)

        # cost function
        cost = -(1/m)*np.sum( Y*np.log(A) + (1-Y)*np.log(1-A))

        # Gradient Descent
        dW = (1/m)*np.dot(A-Y, X.T)
        dB = (1/m)*np.sum(A - Y)

        W = W - learning_rate*dW.T
        B = B - learning_rate*dB

        # Keeping track of our cost function value
        cost_list.append(cost)

        if(i%(iterations/10) == 0):
            print("cost after ", i, "iteration is : ", cost)

    return W, B, cost_list
iterations = 100
learning_rate = 0.0015
W, B, cost_list = model(train_X, train_y, learning_rate = learning_rate, iterations=iterations)

cost after  0 iteration is :  0.6931471805599454
cost after  10 iteration is :  0.6805562961319653
cost after  20 iteration is :  0.6700570011138602
cost after  30 iteration is :  0.6609996978822466
cost after  40 iteration is :  0.6529442366417686
cost after  50 iteration is :  0.6455928945990785
cost after  60 iteration is :  0.6387442069220276
cost after  70 iteration is :  0.6322616079114621
cost after  80 iteration is :  0.6260522798513395
cost after  90 iteration is :  0.6200529262979343

In [ ]:
def accuracy(X, Y, W, B):

    Z = np.dot(W.T, X) + B
    A = sigmoid(Z)

    A = A > 0.5

    A = np.array(A, dtype = 'int64')

    acc = (1 - np.sum(np.absolute(A - Y))/Y.shape[1])*100

    print("Accuracy of the model is : ", round(acc, 2), "%")

In [ ]:
accuracy(test_X, test_y, W, B)

Accuracy of the model is :  35.0 %

In [ ]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression().fit(train_X,train_y)

In [ ]:
reg.score(test_X,test_y)

1.0

In [ ]:
reg.score(train_X,train_y)

1.0

In [ ]:
y_p=reg.predict(test_X)
y_p

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1])