In [ ]:
import pandas as pd
import numpy as np

1. Read the dataset to a data frame

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/surveys.csv")
df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

2. Show the column names

In [ ]:
df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

3.Show the datatype of each column

In [ ]:
df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

4. Show the size (number of rows and columns) of the data frame

In [ ]:
df.shape

(35549, 9)

5. Show the unique values of species_id column

In [ ]:
df['species_id'].unique()

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

6. Show the statistical information (count, mean, std, min, max and so on) of the weight column

In [ ]:
df_temp=df[['weight']]
df_temp.describe()

             weight
count  32283.000000
mean      42.672428
std       36.631259
min        4.000000
25%       20.000000
50%       37.000000
75%       48.000000
max      280.000000

7. Create a new data frame that is grouped based on the sex column

In [ ]:
df1=df.groupby(['sex'])
print(df1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f34496e00d0>

8. Show how many recorded individuals are female F and how many male M.

In [ ]:
print(df1.query('sex=="M"').count())
print(df1.query('sex=="F"').count())

sex    17348
dtype: int64
sex    15690
dtype: int64

9. Summarize weight values for each site (plot_id) in your data.

In [ ]:
print(df.groupby(['plot_id']).describe())

        record_id                                                         \
            count          mean           std     min       25%      50%
plot_id
1          1995.0  17674.516792  10127.751746     6.0   8797.00  17663.0
2          2194.0  17669.809480  10483.747341     1.0   8660.25  18113.5
3          1828.0  19768.905361   9600.922909     2.0  12549.00  20130.0
4          1969.0  17998.813611  10057.511038    16.0   9598.00  18033.0
5          1194.0  13133.017588   8770.927578    11.0   5932.75  11411.0
6          1582.0  18579.403287  10751.914681    10.0   9493.00  17986.0
7           816.0  18080.537990   8454.495315     4.0  12996.50  18008.5
8          1891.0  19161.210999   9880.675015    14.0  11203.50  19188.0
9          1936.0  17295.930785  10327.351805    25.0   8675.50  17191.5
10          469.0  16180.501066   9356.828696    30.0   8898.00  15808.0
11         1918.0  17002.651199  10234.556677    20.0   8345.25  16904.5
12         2365.0  17383.576744  10100.507745    49.0   8603.00  16995.0
13         1538.0  17414.790637  10522.525594    23.0   7684.00  17917.0
14         1885.0  17670.336340  10119.809233    21.0   8715.00  18261.0
15         1069.0  19172.228251  10809.078838    22.0   9043.00  21137.0
16          646.0  17776.507740  10285.170980    36.0   9497.25  17081.5
17         2039.0  18572.008337  10583.769576    34.0   9349.50  20111.0
18         1445.0  16615.919723  10865.506950    42.0   6853.00  16098.0
19         1189.0  20042.891505  10077.786164    46.0  12365.00  21056.0
20         1390.0  16796.862590  10666.650446    40.0   7177.00  15506.5
21         1173.0  20764.940324  10120.359220    43.0  12920.00  22833.0
22         1399.0  18185.315225  10645.613295    45.0   8376.00  18014.0
23          571.0  15881.472855   9312.127353    41.0   7863.00  14874.0
24         1048.0  14718.620229   9061.144420  1963.0   7326.00  12783.0

                             month            ... hindfoot_length        \
              75%      max   count      mean  ...             75%   max
plot_id                                       ...
1        26396.00  35393.0  1995.0  6.307769  ...           37.00  64.0
2        26859.25  35408.0  2194.0  6.378760  ...           36.00  58.0
3        28135.75  35495.0  1828.0  6.470460  ...           27.00  54.0
4        26675.00  35502.0  1969.0  6.424073  ...           37.00  55.0
5        19486.00  35549.0  1194.0  6.201005  ...           36.00  54.0
6        28583.75  35510.0  1582.0  6.307206  ...           35.00  54.0
7        24106.75  35548.0   816.0  6.580882  ...           21.00  50.0
8        27625.50  35526.0  1891.0  6.572713  ...           37.00  58.0
9        25916.00  35525.0  1936.0  6.423554  ...           37.00  54.0
10       22817.00  35547.0   469.0  6.093817  ...           20.00  52.0
11       25517.75  35518.0  1918.0  6.541710  ...           37.00  53.0
12       26500.00  35415.0  2365.0  6.369979  ...           36.00  70.0
13       26527.25  35531.0  1538.0  6.604031  ...           36.00  53.0
14       25909.00  35537.0  1885.0  6.583554  ...           37.00  52.0
15       28257.00  35546.0  1069.0  6.458372  ...           23.00  52.0
16       26609.25  35486.0   646.0  6.311146  ...           28.00  53.0
17       27739.00  35448.0  2039.0  6.599313  ...           36.00  53.0
18       26091.00  35435.0  1445.0  6.634602  ...           35.00  52.0
19       28704.00  35425.0  1189.0  6.617325  ...           25.00  50.0
20       26334.50  35459.0  1390.0  6.581295  ...           35.00  54.0
21       29352.00  35467.0  1173.0  6.747656  ...           26.00  49.0
22       28133.50  35477.0  1399.0  6.498928  ...           37.00  55.0
23       22355.00  35489.0   571.0  6.359019  ...           20.25  52.0
24       21239.75  35479.0  1048.0  6.447519  ...           35.00  52.0

         weight
          count       mean        std  min   25%   50%   75%    max
plot_id
1        1903.0  51.822911  38.176670  4.0  30.0  44.0  53.0  231.0
2        2074.0  52.251688  46.503602  5.0  24.0  41.0  50.0  278.0
3        1710.0  32.654386  35.641630  4.0  14.0  23.0  36.0  250.0
4        1866.0  47.928189  32.886598  4.0  30.0  43.0  50.0  200.0
5        1092.0  40.947802  34.086616  5.0  21.0  37.0  48.0  248.0
6        1463.0  36.738893  30.648310  5.0  18.0  30.0  45.0  243.0
7         638.0  20.663009  21.315325  4.0  11.0  17.0  23.0  235.0
8        1781.0  47.758001  33.192194  5.0  26.0  44.0  51.0  178.0
9        1811.0  51.432358  33.724726  6.0  36.0  45.0  50.0  275.0
10        279.0  18.541219  20.290806  4.0  10.0  12.0  21.0  237.0
11       1793.0  43.451757  28.975514  5.0  26.0  42.0  48.0  212.0
12       2219.0  49.496169  41.630035  6.0  26.0  42.0  50.0  280.0
13       1371.0  40.445660  34.042767  5.0  20.5  33.0  45.0  241.0
14       1728.0  46.277199  27.570389  5.0  36.0  44.0  49.0  222.0
15        869.0  27.042578  35.178142  4.0  11.0  18.0  26.0  259.0
16        480.0  24.585417  17.682334  4.0  12.0  20.0  34.0  158.0
17       1893.0  47.889593  35.802399  4.0  27.0  42.0  50.0  216.0
18       1351.0  40.005922  38.480856  5.0  17.5  30.0  44.0  256.0
19       1084.0  21.105166  13.269840  4.0  11.0  19.0  27.0  139.0
20       1222.0  48.665303  50.111539  5.0  17.0  31.0  47.0  223.0
21       1029.0  24.627794  21.199819  4.0  10.0  22.0  31.0  190.0
22       1298.0  54.146379  38.743967  5.0  29.0  42.0  54.0  212.0
23        369.0  19.634146  18.382678  4.0  10.0  14.0  23.0  199.0
24        960.0  43.679167  45.936588  4.0  19.0  27.5  45.0  251.0

[24 rows x 48 columns]

10. Create a data frame containing only species and plot columns.

In [ ]:
d=df[['species_id','plot_id']]
print(d)

      species_id  plot_id
0             NL        2
1             NL        3
2             DM        2
3             DM        7
4             DM        3
...          ...      ...
35544         AH       15
35545         AH       15
35546         RM       10
35547         DO        7
35548        NaN        5

[35549 rows x 2 columns]

11. Select the last element in the list

In [ ]:
df.tail(1)

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

12. Select species_id, plot_id, and weight column of the first row only

In [ ]:
df.loc[:0 ,['species_id','plot_id','weight']]

  species_id  plot_id  weight
0         NL        2     NaN

13. Create a data frame containing only the rows with year 2002.

In [ ]:
y=df.query('year==2002')
print(y)

       record_id  month  day  year  plot_id species_id  sex  hindfoot_length  \
33320      33321      1   12  2002        1         DM    M             38.0
33321      33322      1   12  2002        1         DO    M             37.0
33322      33323      1   12  2002        1         PB    M             28.0
33323      33324      1   12  2002        1         AB  NaN              NaN
33324      33325      1   12  2002        1         DO    M             35.0
...          ...    ...  ...   ...      ...        ...  ...              ...
35544      35545     12   31  2002       15         AH  NaN              NaN
35545      35546     12   31  2002       15         AH  NaN              NaN
35546      35547     12   31  2002       10         RM    F             15.0
35547      35548     12   31  2002        7         DO    M             36.0
35548      35549     12   31  2002        5        NaN  NaN              NaN

       weight
33320    44.0
33321    58.0
33322    45.0
33323     NaN
33324    29.0
...       ...
35544     NaN
35545     NaN
35546    14.0
35547    51.0
35548     NaN

[2229 rows x 9 columns]

14. Select rows that contain data from the year 1999 and weight values less than or equal to 8

In [ ]:
v=df.query('year=1999' and 'weight<=8')
print(v)

       record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
68            69      8   19  1977        2         PF   M             15.0
73            74      8   19  1977        8         PF   M             12.0
80            81      8   19  1977        4         PF   F             14.0
112          113      8   20  1977        5         PF   F             13.0
171          172      9   11  1977       22         PF   F              NaN
...          ...    ...  ...   ...      ...        ...  ..              ...
35100      35101     11   10  2002        9         PF   M             14.0
35171      35172     11   10  2002       14         PF   F             15.0
35300      35301     12    8  2002        4         PF   M             13.0
35307      35308     12    8  2002        6         PF   F             16.0
35505      35506     12   31  2002        6         PF   M             13.0

       weight
68        8.0
73        7.0
80        8.0
112       8.0
171       8.0
...       ...
35100     7.0
35171     7.0
35300     6.0
35307     6.0
35505     8.0

[1480 rows x 9 columns]

15. Create a plot of average weight across all species per site.

In [ ]:
avg=df['weight'].mean()
print(avg)

42.672428212991356