In [105]:
##Hmm my life is
myLife=['cgpa','Smartness','gf','money']
for me in myLife:
  print("No "+me+" \n")
else:
  print("Only Code :) ")

No cgpa

No Smartness

No gf

No money

Only Code :)

In [106]:
h="hello world"
print(h[3:7:2])

l

In [107]:
S = 'ABCDEFGHI'
print(S[2:7:2])

CEG

In [108]:
name = "John"
age = 23
print ("%s is %d years old." % (name, age))

John is 23 years old.

In [109]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f'{name} is {age} years old');
print ("%s is %d years old." % (name, age))

Enter your name: Rifat
Enter your age: 23
Rifat is 23 years old
Rifat is 23 years old.

In [110]:
# Python program to illustrate if-elif-else ladder

i =int(input("Please Enter Input Number : "))
if (i == 10):
    print("i is 10")
elif (i == 15):
    print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

Please Enter Input Number : 15
i is 15

In [111]:
#Special Operators: is, is not, in, not in
name = "John"
if name in ["John", "Rick"]:
  print("Your name is either John or Rick.")

Your name is either John or Rick.

In [112]:
primes = [2, 3, 5, 7] # A list
for prime in primes:
  print(prime)
for J in primes:
  print(J)

2
3
5
7
2
3
5
7

In [113]:
for x in range(5):
  print(x)

0
1
2
3
4

In [114]:
for i in range(1, 100, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [115]:
count = 0
while count < 5:
  print(count)
  count += 1 # This is the same as count = count + 1

0
1
2
3
4

In [116]:
count=0
while(count<5):
  print(count)
  count +=1
else:
  print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [117]:
def my_function(name, age):
  print(f'{name} is {age} years old')
my_function('John', 23)

John is 23 years old

In [118]:
mylist = [1, 2, 3];
print (mylist[0]);
print(mylist[-3]);
print(mylist[1:3]);
LIST=[1,2.4,'Rifat'];
print(LIST)
phonebook = {"John" : 938477566,"Jacki" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
  print("Phone number of %s is %d" % (name, number))

1
1
[2, 3]
[1, 2.4, 'Rifat']
Phone number of John is 938477566
Phone number of Jacki is 938377264
Phone number of Jill is 947662781

In [119]:
phonebook = {
"John" : 938477566,
"Jack" : 938377264,
"Jill" : 947662781
}
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [120]:
# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [121]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [122]:
import time
print(time.ctime())

Fri Nov 10 06:26:30 2023

In [123]:
#create a time delay
time.sleep(30)
print (time.ctime())

Fri Nov 10 06:27:00 2023

In [124]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [125]:
astring = "Hello world!"
print("%d"% len(astring))
print(astring.upper())
print(astring.lower())

12
HELLO WORLD!
hello world!

####The target of this exercise is to create a string, an integer, and a floating point number. The string should be named mystring and should contain the word "hello". The floating point number should be named myfloat and should contain the number 10.0, and the integer should be named myint and should contain the number 20.

In [126]:
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

# Exercise
####In this exercise, you will need to add numbers and strings to the correct lists using the "append" list method. You must add the numbers 1,2, and 3 to the "numbers" list, and the words 'hello' and 'world' to the strings variable.

####You will also have to fill in the variable second_name with the second name in the names list, using the brackets operator [ ]. Note that the index is zero-based, so if you want to access the second item in the list, its index will be 1.

In [127]:
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append("hello")
strings.append("world")

second_name = names[1]

print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

####The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 times each, by concatenating the two lists you have created.

In [128]:
x = object()
y = object()

x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

# Exercise
#### In this exercise you'll use an existing function, and while adding your own to create a fully functional program.

#### Add a function named list_benefits() that returns the following list of strings: "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"

#### Add a function named build_sentence(info) which receives a single argument containing a string and returns a sentence starting with the given string and ending with the string " is a benefit of functions!"

### Run and see all the functions work together!

In [129]:
def list_benefits():
    return "More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"

def build_sentence(info):
    return "%s is a benefit of functions!" % info

def name_the_benefits_of_functions():
    for info in list_benefits():
        print(build_sentence(info))

In [130]:
name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

In [131]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [132]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 14577681986086209757
 xla_global_id: -1]

In [133]:
!cat /proc/meminfo

MemTotal:       13294208 kB
MemFree:         8925280 kB
MemAvailable:   12125108 kB
Buffers:           63616 kB
Cached:          3330596 kB
SwapCached:            0 kB
Active:           755508 kB
Inactive:        3376764 kB
Active(anon):       2304 kB
Inactive(anon):   739324 kB
Active(file):     753204 kB
Inactive(file):  2637440 kB
Unevictable:           4 kB
Mlocked:               4 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               456 kB
Writeback:             0 kB
AnonPages:        737968 kB
Mapped:           573060 kB
Shmem:              3564 kB
KReclaimable:     100276 kB
Slab:             136660 kB
SReclaimable:     100276 kB
SUnreclaim:        36384 kB
KernelStack:        4336 kB
PageTables:        12260 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6647104 kB
Committed_AS:    2349432 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        9268 kB
VmallocChunk:          0 kB
Percpu:             1288 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       86840 kB
DirectMap2M:     6201344 kB
DirectMap1G:     9437184 kB

In [164]:
List1=['Alice',34,'01/10/1999',1234.678]
print(List1)
print(List1[1])

['Alice', 34, '01/10/1999', 1234.678]
34

In [165]:
print(len(List1))

4

In [166]:
for i in range(0,len(List1),1):
  print(List1[i])

Alice
34
01/10/1999
1234.678

In [167]:
for i in range(len(List1)):
  print(List1[i])

Alice
34
01/10/1999
1234.678

In [168]:
List1.append("bob")
print(List1)

#######

i=0
while i<len(List1):
  print(List1[i])
  i=i+1

['Alice', 34, '01/10/1999', 1234.678, 'bob']
Alice
34
01/10/1999
1234.678
bob

In [169]:
for i in range (1,100,1):
  if i%2 != 0 :
     print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [162]:
List1=[]
for i in range (1,100,1):
  if i%2 != 0 :
     print(i)
     List1.append(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [143]:
oddNumbers=[i for i in range (1,100,1) if i%2 != 0]
print(oddNumbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [144]:
a=[]
num = int(input("Enter your num: "))
f0=0
f1=1
a=[f0,f1]
for i in range(2,num+1,1):
 res=f0+f1
 a.append(res)
 f0=f1
 f1=res


print(a)

Enter your num: 15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [145]:
num = int(input("Enter your num: "))
series=[0,1]
[series.append(series[k-1]+series[k-2]) for k in range(2,num+1)]
print(series)

Enter your num: 35
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465]

In [146]:
num = int(input("Enter your num: "))
f0=0
f1=1
for i in range(2,num+1,1):
 res=f0+f1
 f0=f1
 f1=res

print(res)

Enter your num: 99
218922995834555169026

In [147]:

for i in range (1,100,1):
  if i%2 != 0 :
     print(i)
     List1.append(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [148]:
a=3
print(a**2)

9

In [149]:
import math
def area(radius):
  return math.pi*radius*radius
print(area(10))

314.1592653589793

In [150]:
circles=[3,10,2.5,12.5]
areas = [area(i) for i in circles]
areas

[28.274333882308138, 314.1592653589793, 19.634954084936208, 490.8738521234052]